/*
* @Author: brooke
* @Date:   2018-10-29 20:27:53
* @Last Modified by:   pigcms
* @Last Modified time: 2019-10-18 20:52:54
*/
.tab_h{
    height: 630px;
    margin-top: 20px;
}

.tidan_confirm{ margin: 0 auto; text-align: left; }
.tidan_confirm .tidan_left{ text-align: right; padding:4px;}

.time .zhouqi{ width: 70px; }
.time div{ float:left;height: 36px;border:1px solid #e6e6e6;background:#fafafa;text-align: center;line-height: 36px; position: relative;margin-right: 10px;margin-bottom: 10px;padding: 0 15px;}
.time div.active{color:#6987fb;border:1px solid #6987fb;}